* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #a2ce3b;
}

#cardboard {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.memory-card {
  width: calc(25% - 10px);
  height: 33%;
  margin: 5px;
  transform-style: preserve-3d;
  transition: 0.3s;
  position: relative;
}

.memory-card:active {
  transform: scale(0.97);
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card.flip > .back-face {
  display: none;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  background: #258f01;
}

.front-face {
  transform: rotateY(180deg);
}

.guia{

  left: calc(50% - 750px);
    top: 100px;
    position: absolute;
    width: 430px;
    height: 100px;
    font-size: 20px;
    text-align:left ;
    color: rgb(30, 34, 31)  
  
}

#restart {
  position: absolute;
  top: 30px;
  left: 750px;
  cursor: pointer;
  color: rgb(16, 15, 15)3, 21, 21);
  font-size: 20px;
  text-align:justify;
 }

      

    
    



